@font-face {
  font-family: inconsolata;
  src: url('/Inconsolata-Regular.ttf');
}
*, pre, code, h1, h2, h3, h4, .code, .hack h1, .hack h2, .hack h3 {
    font-family: inconsolata;
}
.dark pre {
	border: 1px solid white;
	border-radius: 5px;
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	padding: 10px;
	background-color: black;
	color: #33FF33;
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */
	}
.dark code {
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	background-color: black;
	color: #33FF33;
	}
.socialmedia {
	vertical-align: middle;
}
